.header-container {
    display: flex;
    flex-direction: column;
}
.header-top, .header-bottom {
    width: 100vw;
    padding: 0 30px 0 30px;
}
.header-top {
    height: 60px;
}
.header-bottom {
    height: 100px;
    background-color: white;
}
.header-top, .header-bottom, .header-top__left, .header-top__right  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-top div {
    display: flex;
    color: white;
}
.header-top__left {
    display: flex;
}
.header-top__right {
    display: flex;
}
.header-top__right ul, .header-top__left ul {
    list-style-type: none;
    margin: 0 5px 0 5px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-top__right-container li {
    margin: 0 15px 0 15px;
    font-size: 14px;
}
.header-top__right a {
    text-decoration: none;
    color: white;
}
.flag, .select-this, .contact-now {
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
#select1 {
    background-color: black;
    color: white;
    border: none;
}

.header-bottom div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container {
    padding: 0 10px 0 20px;
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
nav a:hover {
    color: #2389f5;
}
.interactions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.interactions-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 10px;
}
.header-bottom__right {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.search-container {
    position: relative;
}
#search-input {
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 10px 10px;
    width: 100%;
    font-family: inherit;
}
.search-icon {
    position: absolute;
    right: 11px;
}
.favorit-items, .shopping-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 8px;
}
.sign-in-btn {
    background-color: rgb(84, 84, 255);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 10px 25px;
    font-size: 14px;
    text-decoration: none;
}