@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Yellowtail-Regular";
    src: url("../fonts/Yellowtail-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Poppins-Regular", sans-serif;
    color: black;
}

.block-one {
    min-height: 700px;
    background-color: rgb(191, 224, 249);
    display: flex;
    align-items: flex-end;
}
.block-two, .block-three, .block-four, .block-five {
    background-color: white;
}
.block-two {
    min-height: 700px;
}
.block-three {
    min-height: 900px;
}
.block-four {
    min-height: 900px;
}
.block-five {
    min-height: 720px; 
}
.block-two, .block-three, .block-four, .block-five {
    display: flex;
    justify-content: center;
    align-items: center;
}