* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Times New Roman", Times, serif;
    color: black;
}
.container-flex {
    display: flex;
    flex-direction: column;
}
.block-one {
    display: flex;
    flex-direction: row;
}
.block-two { 
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.green {
    background-color: lightgreen;
    width: 30vw;
    height: 90vh;
}
.blue {
    background-color: lightblue;
    width: 70vw;
    height: 10vh;
}
.yellow {
    background-color: rgb(255, 255, 115);
    width: 70vw;
    height: 80vh;
}
.purple {
    background-color: violet;
    width: 30vw;
    height: 10vh;
}
.orange{
    background-color: rgb(255, 211, 131);
    width: 70vw;
    height: 10vh;
}
.blue, .orange, .yellow, .purple, .green {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(127, 148, 255, 0.538);
}
.cat-pic1 {
    width: 60%;
    height: auto;
}
.cat-pic2 {
    width: 40%;
    height: 80%;
}

