.pop_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
.pop_block .pop_card {
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    word-break: break-word;
    width: 250px;
    transition: transform ease-in-out 150ms;
}
.pop_block .pop_card:hover {
    transform: scale(1.05);
}
.pop_block .pop_card .pop_img {
    width: 250px;
    height: 250px;
}