.block-two__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block-two__container h2 {
    font-family: "PlayfairDisplay-Regular", sans-serif;
    font-size: 3rem;
    margin-bottom: 40px;
}
.block-two__tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.tab-one, .tab-two, .tab-three {
    width: 30%;
    height: 280px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.tab-one {
    background-image: url(../img_lab8/cat1.jpg);
}
.tab-two {
    background-image: url(../img_lab8/cat2.jpg);
}
.tab-three {
    background-image: url(../img_lab8/cat3.jpg);
}
.tab-one, .tab-two, .tab-three {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tab-one__container, .tab-two__container, .tab-three__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.tab-one__info, .tab-two__info, .tab-three__info {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tab-one__info h4, .tab-three__info h4 {
    font-family: "PlayfairDisplay-Regular", sans-serif;
    font-size: 2rem;
    margin: 15px;
}
.new-collection, .p-discount-2 {
    color: #0071fe;
    font-size: 20px;
    text-transform: capitalize;
    font-family: "Yellowtail", cursive;
    font-style: italic;
    font-weight: 600;
    text-shadow: 0px -3px 0px #fff;
    
}
.new-collection {
    margin-top: -8px;
}
.best-deals-btn {
    font-weight: bold;
    background-color: rgb(255, 225, 0);
    color: black;
    border: none;
    border-radius: 40px;
    padding: 10px 25px;
    font-size: 16px;
    text-decoration: none;
}
.tab-two__info h4 {
    font-family: "PlayfairDisplay-Regular", sans-serif;
    color: #1f1f1f;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    margin-bottom: 10px;
}
