.block-three__container {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    flex-direction: column;
}
.block-three__nav {
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 40px;
}
.block-three__nav-content {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-three__nav-title {
    font-family: "PlayfairDisplay-Regular", sans-serif;
    font-size: 30px;
    color: black;
}
.block-three__nav-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-three__nav-tabs a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 20px;
    color: #8f8f96;
}
.block-three__nav-tabs a:hover {
    color: black;
    cursor: pointer;
}
.nav-item-active {
    color: rgb(255, 96, 96) !important;

}

.block-three__item-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.item-list__row-one, .item-list__row-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    flex-direction: row;
}
.row-one__item, .row-two__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px 20px 20px;
}
.item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 0;
}
.item-info > * {
    margin: 5px 0;
}
.item-name {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 400;
}
.items-price {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.item-pic {
    position: relative;
}
.new-item-icon {
    /* z-index: 1; */
    position: absolute;
    top: 5%;
    left: 7%;
    color: white;
    background-color: rgb(255, 54, 54);
    border-radius: 30px;
    padding: 2px 16px;
}
.item-discount {
    color: red;
}
.rating-yellow {
    color: rgb(230, 230, 48);
}