* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Times New Roman", Times, serif;
    color: black;
    background-color: lavender;
}
main {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
#add-data-btn, #remove-data-btn {
    width: 150px;
    height: 50px;
    background-color: #a24caf;
    color: white;
    border: 1.5px solid #301633;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#add-data-btn:hover, #remove-data-btn:hover {
    background-color: #5e2b65;
    cursor: pointer;
}
#data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
#user img {
    width: 50px;
    height: 50px;
}
#user {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #351b37c3;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    min-width: 220px;
    background-color: rgb(231, 144, 255);
}
#user span {
    margin: 5px;
}